*
{
  padding:0;
  margin:0;
  outline:none;
}
body
{
  background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size:cover;
}
h1
{
  color:white;
  font-weight: bold;
  font-size: 8em;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#list
{
	list-style-type: none;
  width:300px;
  margin:0 auto;
    margin-top:70px;
    text-align: right;
    color: white;
    font-family: 'Cabin';
}
 input
{
  font-size:3.5em;
  border-radius:24px;
  padding:5px;
}
#btn-1,#btn-2
{
  font-size: 2em;
}
li
{
font-size: 2em;
}
